{% extends 'layout.html' %}

{% block title %}
    Posts List
{% endblock %}

{% block content %}
        <style>
            body{

            .pre-line{
                white-space:pre-line;
            }

            }

        </style>
    <section>


    <!--                                 ↓↓↓↓↓↓↓↓↓改↓↓↓↓↓↓↓                         -->
        <form method="post" action="{% url 'DalyWorkPPP:cutInformation_view' %}">
        {% csrf_token %}
            <input type="text" name="input_text"  style="height: 40px;" >
            <button type="submit" style="height: 40px;" >提交</button>
        </form>

    <h3> 日常工作 </h3>
        <!--                                                          ↓↓↓↓↓↓↓↓↓改↓↓↓↓↓↓↓                         -->
        <form class="from-with-validation" method="post" action="{% url 'DalyWorkPPP:postNewInformation_view' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}

            <button class="form-submit" style="height: 40px;" >提交</button>
        </form>



        {% for post in posts%}
        <article class="post">
            <h3>
 <!--                            ↓↓↓↓↓↓↓↓↓改↓↓↓↓↓↓↓                         -->
                <a href="{% url 'DalyWorkPPP:page' pk=post.id%}">
                     {{ post.client }}
                </a>
            </h3>


            <style>
            .small-image {
               width: 150px;
                height: auto;  /* 保持宽高比 */
            }
            .medium-image {
                width: 300px;
                height: auto;
            }
            .custom-size {
                width: 100%;
                max-width: 500px;
            }
</style>
            <img

                src="{{ post.banner.url }}"
                alt="{{ post.title }}"
                class="small-image"
            />
            <h2>{{ post.date }}</h2>
            <p class="pre-line">{{ post.workduty }}</p>
        </article>
        {% endfor %}
    </section>
{% endblock %}
