{% extends 'layout.html' %}

{% block title %}
    {{ post.client }}
{% endblock %}

{% block content %}
        <style>
            body{

            .pre-line{
                white-space:pre-line;
            }

            }

        </style>
    <section>


        <img
                class="bsanner"
                src="{{ post.banner.url }}"
                alt="{{ post.title }}"
        />
          <p>{{ post.date }}</p>
          <p>{{ post.client }}</p>
          <p class="pre-line">{{ post.workduty }}</p>


<!--                                       ↓↓↓↓↓↓↓↓↓改↓↓↓↓↓↓↓                         -->
        <form method="post" action="{% url 'DalyWorkPPP:submit_view' post.id %}">
        {% csrf_token %}
            <input type="text" name="input_text">
            <button type="submit">提交</button>
        </form>

<!--                    ↓↓↓↓↓↓↓↓↓改↓↓↓↓↓↓↓                         -->
        <a href="{% url 'DalyWorkPPP:delete_item' post.id %}" class="btn btn-danger" onclick="return confirm('do??')"> X---X</a>



    </section>
{% endblock %}


