<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <!--  <a href="/">🏠</a> |-->
        <!--  <a href="/about">😀</a> |-->
	    <a href="{% url 'DalyWorkPPP:list' %}">🧱</a>
        <a href="{% url 'posts:list' %}">📰</a> |
        <a href="{% url 'EconomicTPosts:list' %}">🧐</a>
        <a href="{% url 'NChinaBankPosts:list' %}">🏦</a>
        <a href="{% url 'ShunFengPosts:list' %}">📦</a>
        <a href="{% url 'ChangJiangEPPP:list' %}">⛈️ </a>
        <a href="/admin/FirstApp/post/">🔥</a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
