{% extends 'layout.html' %}

{% block title %}
    {{ post.client }}
{% endblock %}

{% block content %}
    <section>
        <img
                class="bsanner"
                src="{{ post.banner.url }}"
                alt="{{ post.title }}"
        />
          <h1>{{ post.client }}</h1>
          <p>{{ post.date }}</p>
          <p>{{ post.workduty }}</p>
          <p>{{ post.slug }}</p>

        <p>{{ post.id }}</p>
        <p>{{ post.banner.url }}</p>


        <a href="{% url 'posts:delete_item' post.id %}" class="btn btn-danger" onclick="return confirm('do??')">delete</a>



    </section>
{% endblock %}


