{% extends 'layout.html' %}

{% block title %}
    {{ post.client }}
{% endblock %}

{% block content %}
        <style>
            body{

            .pre-line{
                white-space:pre-line;
            }

            }

        </style>
    <section>



        <img
                class="AA"
                src="{{ post.AA.url }}"
                alt="{{ post.title }}"
        />
        <img
                class="BB"
                src="{{ post.BB.url }}"
                alt="{{ post.title }}"
        />
        <img
                class="CC"
                src="{{ post.CC.url }}"
                alt="{{ post.title }}"
        />
        <img
                class="DD"
                src="{{ post.DD.url }}"
                alt="{{ post.title }}"
        />
        <img
                class="EE"
                src="{{ post.EE.url }}"
                alt="{{ post.title }}"
        />
        <img
                class="FF"
                src="{{ post.FF.url }}"
                alt="{{ post.title }}"
        />
          <p>{{ post.date }}</p>
          <p>{{ post.client }}</p>
          <p class="pre-line">{{ post.workduty }}</p>



        <form method="post" action="{% url 'NChinaBankPosts:submit_view' post.id %}">
        {% csrf_token %}
            <textarea name="input_text" rows="4" cols="50" placeholder="请输入消息"></textarea>
            <button type="submit" style="height: 40px;" >提交</button>
        </form>


        <a href="{% url 'NChinaBankPosts:delete_item' post.id %}" class="btn btn-danger" onclick="return confirm('do??')"> X---X</a>



    </section>
{% endblock %}


