{% extends 'layout.html' %}

{% block title %}
    Posts List
{% endblock %}

{% block content %}
        <style>
            body{

            .pre-line{
                white-space:pre-line;
            }

            }

        </style>
    <section>
    <h3>中国银行</h3>
        {% for post in posts%}
        <article class="post">
            <h3>
                <a href="{% url 'NChinaBankPosts:page' pk=post.id%}">
                     {{ post.client }}
                </a>
            </h3>


            <style>
            .small-image {
               width: 150px;
                height: auto;  /* 保持宽高比 */
            }
            .medium-image {
                width: 300px;
                height: auto;
            }
            .custom-size {
                width: 100%;
                max-width: 500px;
            }
</style>
            <img

                src="{{ post.banner.url }}"
                alt="{{ post.title }}"
                class="small-image"
            />
            <h2>{{ post.date }}</h2>
            <p class="pre-line">{{ post.workduty }}</p>
        </article>
        {% endfor %}
    </section>
{% endblock %}
